#listLoading {
  text-align: center;
  position: absolute;
  top: 50%;
  right: 50%;
}

.encounterMonster {
  display: flex;
}

.encounterMonster > * {
  margin: 0 1em;
}

#encounterParty {
  padding: 1em;
  border-bottom: 1px solid gray;
}

#encounterTotal {
  margin-top: 1em;
  padding-top: 1em;
  border-top: 1px solid gray;
  display: flex;
  justify-content: space-between;
}

#monstersFilter {
  padding: 1em;
}

#encounterBuild { 
  padding-top: 1em;
}

.headerColumn {
  cursor: pointer;
}

table .MuiSvgIcon-root {
  float: right;
}

#xpTotals{
  text-align: right;
}